body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #333333;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #E6E6FA;
    color: #333333;
    border-bottom: 2px solid #6A5ACD;
}

.profile-photo img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.info {
    padding-left: 20px;
}

.info h1 {
    margin: 0;
    color: #6A5ACD;
}

.info p {
    margin: 5px 0;
}

.info a {
    color: #6A5ACD;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

nav {
    background-color: #6A5ACD;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #483D8B;
    border-radius: 4px;
}

main {
    padding: 20px;
}

.about-me, .skills, .projects, .contact-me, .qualification, .certification, .awards, .experience {
    margin-bottom: 20px;
}

.about-me h2, .skills h2, .projects h2, .contact-me h2, .qualification h2, .certification h2, .awards h2, .experience h2 {
    color: #6A5ACD;
    border-bottom: 2px solid #6A5ACD;
    padding-bottom: 5px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    background: #E6E6FA;
    color: #333333;
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
}

.qualification ul, .certification ul, .awards ul {
    list-style: none;
    padding: 0;
}

.qualification ul li, .certification ul li, .awards ul li {
    background: #E6E6FA;
    color: #333333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.certification ul li, .awards ul li {
    margin-bottom: 15px; /* Added margin-bottom for spacing */
}

.project {
    border: 1px solid #6A5ACD;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #E6E6FA;
    color: #333333;
}
